header {
    height: 60px;
    width: 100%;
    background: $neutral10;
    padding: 14px 56px;
    box-shadow: 0 0px 5px rgba($neutral01, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    z-index: 9999;

    img {
        height: 100%;
        width: auto;
        margin-right: 40px;
    }
}

#search {
    border-radius: 3px;
    border: 1px solid rgba($neutral01, 0.2);
    padding: 8px;
    font-size: 14px;
    transition: .2s ease-in-out;
    position: relative;
    width: 90%;
    max-width: 400px;

    &:focus {
        border: 1px solid rgba($neutral01, 0.9);
        outline: none;
    }

    @media screen and (min-width: $bp-medium) {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 400px;
    }
}