<!DOCTYPE html>
<html>
	<%- include('includes/head') %>
	<body>
		<header>
			<img class="header-logo" src="assets/img/dplus_logo.png" />
			<input type="text" name="search" id="search" placeholder="Search" class="form-control" />
		</header>
		<!-- <div class="overlay">
			<img class="spinner" src="assets/img/loading.svg" />
		</div> -->
		<div id="grid">

		</div>
		<script src="assets/js/app.js"></script>
	</body>
</html>