
html, body {
	width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 24px;
	color: white;
	font-family: 'SFProDisplay-Regular', sans-serif;
	background: rgba($neutral01,0.02);
	position: relative;

	&.section {
		overflow: visible;
	}
}

a, a:visited, a:focus {
	text-decoration: none;
}


.spinner {
	width: 40px;
	height: 40px;
	margin: auto; 
	animation: loadingSpinner 1s infinite linear;
}

.overlay {
	width: 100vw;
	height: 100vh;
	background: $neutral10;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-self: center;
}

@keyframes loadingSpinner {
	to {
	  transform: rotate(1turn); 
	} 
}

.toggle-wrapper {
	border: 1px solid rgba($neutral01, 0.3);
	display: flex;
	margin-top: 50px;
	width: fit-content;
	border-radius: 6px;
	margin: 0 2.5vw;
}

.toggle-item {
	color: rgba($neutral01, 0.3);
	font-size: 16px;
	padding: 10px;
	font-weight: 600;
	cursor: pointer;
	border-right: 1px solid rgba($neutral01, 0.3);
	letter-spacing: 1.2;

	&:last-child {
		border-right: none;
	}

	&.active {
		background: rgba($neutral01, 0.6);
		color: #fafafa;
	}
}

main {
	margin-top: 50px;
}

.overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: $neutral01;
	z-index: 9998;
	opacity: 0;
	backdrop-filter: blur(15px);
	display: none;

	.menu-open & {
		opacity: 0.6;
	}
}