
$bp-xxlarge: 3200px;
$bp-xlarge: 2000px;
$bp-large: 1441px;
$bp-desktop: 1100px;
$bp-medium: 800px;
$bp-small: 600px;

$brandPrimary: #2175d9;
$brandHighlight: #2789ff;
$brandLight: #22252c;
$brandMedium: #1a1c21;
$brandDark: #121317;
$neutral01: #000000;
$neutral02: #282d33;
$neutral03: #383e47;
$neutral04: #545a62;
$neutral05: #6c727a;
$neutral06: #838991;
$neutral07: #9ba1a9;
$neutral08: #bfc5cd;
$neutral09: #d6dce4;
$neutral10: #ffffff;
$alertDim: #d9203c;
$alertBright: #ff405d;
$warning: #ffa424;
$success: #78c54a;


$ahcPrimary: #99201f;
$ahcSecondary: #0f3245;
$animalPlanetPrimary: #0073FF;
$animalPlanetSecondary: #1eb4ff;
$cookingPrimary: #dcee4d;
$cookingSecondary: #baca3d;
$destinationPrimary: #f53a4d;
$discoveryEspanolPrimary: #e6e32c;
$discoveryFamilyPrimary: #119142;
$discoveryLifePrimary: #6c95e4;
$diyPrimary: #9e1d2c;
$familiaPrimary: #6fd1f1;
$foodPrimary: #e6003d;
$greatPrimary: #9e1d2c;
$hgtvPrimary: #0fadc4;
$idPrimary: #8f2d46;
$motortrendPrimary: #D1232A;
$ownPrimary: #e3ba74;
$sciPrimary: #385473;
$travelPrimary: #862980;
$tlcPrimary: #ea262d;



