<header>
    <div class="left-nav-wrapper">
        <img class="header-logo" src="assets/img/dplus_logo.png" />
        <nav>
            <a href="index.html" class="nav-item">Poster</a>
            <a href="wide.html" id="wide" class="nav-item">Wide</a>
            <a href="square.html" id="square" class="nav-item">Square</a>
            <a href="logos.html" id="logos" class="nav-item">Series Logos</a>
            <!-- <a href="networks.html" id="networks" class="nav-item">Network Logos</a> -->
        </nav>
    </div>
    <div class="right-nav-wrapper">
        <input type="text" name="search" id="search" placeholder="Search" class="form-control" />
        <div class="hamburger menu-trigger">
            <span class="hamburger-layer"></span>
            <span class="hamburger-layer"></span>
            <span class="hamburger-layer"></span>
        </div>
    </div>
</header>
<div class="overlay"></div>

